*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: #0a0a0a;
    /* background-image:linear-gradient(rgba(4,9,30,0.5)),url(img/harder.png); */
    background-size: cover;
    overflow-x: hidden;
}


header{
    width: 100%;
    height: 5em;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 10px,4px 30px rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 113, 255, 0.1);

}


.logo{
    display: flex;
    height: 5em;
}

.img-logo{
    position: relative;
    left: 10em;
    top: 0.5em;
    width: 11%;
    min-width: 50px;
    border-radius:10px;
    opacity: 0;
    animation: fading 1s ease forwards;
    animation-delay:1s ;
}

@keyframes fading{
    to{
        opacity: 1;
        transform: translateX(1em);
    }
}

@media (max-width:800px) {

    .img-logo{
        display: flex;
        justify-content: flex-end;
        left: 0;
        min-width: 60px;
    }
    nav{
        position: relative;
        /* left: 11em; */
    }
}

/* nav{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    font-size: clamp(1em,2vw,2em);
    width: 40em;
    color: white;
    opacity: 0;
    animation: fadein 1s ease forwards;
    animation-delay: 2s;
    cursor: pointer;
} */

nav{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    font-size: clamp(1em,1.8vw,2em);
    gap: clamp(4px,60px,4vw);
    width: 40em;
}

nav>a{
    text-decoration: none;
    color: white;
    opacity: 0;
    animation: fadein 1s ease forwards;
    animation-delay: 2s;
    cursor: pointer;
}

@keyframes fadein{
    to{
        opacity: 1;
        transform: translateX(-1em);
    }
}

nav :hover{
    color: rgb(255, 0, 255);
    background:linear-gradient(120deg,rgba(255, 0, 255,0.4),rgba(233, 153, 233,0.2));
    padding: 0.5em;
    border-radius:10px;
}

.fa-solid{
    display: none;
}

@media (max-width :500px) {


    .fa-solid{
        display: block;
        font-size: 2.5em;
        color:rgba(177, 13, 202,0.8);
        padding-top: 0.2em;
        cursor: pointer;
    }
    nav{
        display: none;
        color:red;
        padding-top: 0.8em;
        /* width: 50%; */
        /* background:orange; */
        animation-delay:0.1s;
        
    }
    .fa-x{
        color:red;
        font-size: 1em;
        padding-top: 1em;
        padding-right: 1em;
    }
}


hero{
    width: 100%;
    height:10em;
    padding-top: 3em;
    color: #ffffff;
    /* background: red; */
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(12px,3vw,1.1em);
}

@media (max-width:280px) {
    hero{
        padding-top: 0;
        font-size: clamp(9px,0.5vw,0.2);
        height: fit-content;
    }

    div.leftbox{
        text-align: center;
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    div.leftbox>p{
        max-width: 8em;
    }
        div.rightbox{
        text-align: center;
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    div.rightbox>p{
        max-width: 8em;
    }


}

.nameclass{
    color:#ffffff;
}
.blackoh{
    color:rgb(255, 0, 255);
}

#changingspace{
    font-size: 1.5em;
    color: rgb(255,0,255);
    transition: 0.5s ease;
    opacity: 1;
}

aside{
    /* background:orange; */
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 35px 25px;
    gap: 6em;
}

@media (max-width:1000px) {
    aside{
        display: flex;
        gap: 8px;
    }

}

@media (max-width:750px) {
    aside{
        display: grid;
        gap: 8px;
    }

}




.leftbox{
    padding: 25px 20px 25px 30px;
    max-width: 15em;
    font-family:   'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(135deg,rgba(255,0,255,0.3),rgba(255, 184, 255, 0.5));
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 40px,4px 30px rgba(0, 0, 0, 0.1);
    color:white;
    border-radius:10px;
    transform: rotate(10deg);
    opacity: 0;
    animation: leftfading 1s ease forwards;
    animation-delay:3s;
}

.leftbox>p{
    max-width: 16em;

}



@keyframes leftfading{
    to{
        opacity: 1;
         transform:rotate(10deg) translateX(1em);
    }
}



.mainimg{
    padding: 8.5em 8em;
    border-radius:10px;
     background-image:url(img/neon.jpg),linear-gradient(360deg ,rgba(105, 74, 105,0.6),rgba(0, 0, 0,0.9));
     background-position: center;
     background-size:cover;
     background-blend-mode: overlay;
     border:0;
     outline: none;
     min-width: 0;
     filter: drop-shadow(0 0 20px rgba(107, 4, 107, 0.9));
}

.rightbox{
    padding: 25px 13px 25px 13px;
    font-family:   'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(135deg,rgba(255,0,255,0.3),rgba(255, 184, 255, 0.5));
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 40px,4px 30px rgba(0, 0, 0, 0.1);
    color:white;
    border-radius:10px;
    transform: rotate(-10deg);
    opacity: 0;
    animation: rightfade 1s forwards;
    animation-delay:3s;
}

.rightbox>p{
    max-width: 16em;
}

@keyframes rightfade{
    to{
        opacity: 1;
        transform:rotate(-10deg) translateX(-1em);
    }
}



@media (max-width:1000px) {
        div.leftbox{
        transform: rotate(0deg);
    }

    @keyframes leftfading{
    to{
        transform: rotateX(10deg),translateX(1em);
        opacity: 1;
    }
}
         div.rightbox{
        transform: rotateX(0deg);
    }
    
    @keyframes rightfade{
    to{
        opacity: 1;
        transform: rotateX(0deg) ;
    }
}
}

@media (max-width:750px) {

}




/* skills section */
.skills-container{
    display: grid;
    justify-content: center;
    align-items: center;
    /* background:pink; */
    text-align: center;
}

.skills-h1{
    color: white;
    display: grid;
    align-self: center;
    /* background:green; */
    padding: 1em;
}
.subtext{
    /* background:orange; */
    padding-bottom: 2em;
    font-size: 1.5em;
    color:white;
}

.boxes-container{
    display: flex;
    justify-content: space-evenly;
}

.first-box{
    width: 40%;
    height: 12em;
    padding-top: 1em;
    background:radial-gradient(rgba(212, 98, 212,0.2),rgba(255,0,255,0.3));
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 10px,4px 30px rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius:20px
}

h2{
    color:white;
}

.first-box>ul{
    padding: 1.2em;
    list-style: none;
    /* border:1px solid white; */
    height: 6em;
    display: grid;

}

aside1{
    display: flex;
    justify-content: space-around;
    padding-top: 2em ;
}
aside1>ul{
    list-style: none;
    color:white;
    font-size: 1.2em;
}

/* full boxleft */
aside1>.language{
    display: grid;
    gap: 10px;
    position: relative;
    bottom: 0.2em;
    /* background:pink; */
}

aside1>.levels{
    width: 60%;
    display: grid;
    height: 1em;
    gap: 10px;
    /* background:orange; */
}

aside1>.levels>.react{
    color:red;
    background:rgba(255,0,245 ,0.3);
    border-radius: 10px;
    width: 100%;
}
aside1>.levels>.react>div{
    /* background:rgb(92, 187, 92); */
    background:#000000;
    width: 70%;
    height: 1em;
}

/* html */

aside1>.levels>.htmls{
    /* color:red; */
    background:rgba(255,0,245 ,0.3);;
    border-radius: 10px;
    width: 100%;
}

aside1>.levels>.htmls>div{
    background: black;
    width: 80%;
    height: 1em;

}


/* css */

aside1>.levels>.css{
    background:rgba(255,0,245 ,0.3);;
    border-radius: 10px;
    width: 100%;
}

aside1>.levels>.css>div{
    background: black;
    width: 50%;
    height: 1em;

}

/* javascript */

aside1>.levels>.javascript{
    background:rgba(255,0,245 ,0.3);
    border-radius: 10px;
    width: 100%;
}

aside1>.levels>.javascript>div{
    background: black;
    width: 50%;
    height: 1em;

}













.second-box{
    width: 40%;
    height: 12em;
    padding-top: 1em;
    background:radial-gradient(rgba(212, 98, 212,0.2),rgba(255,0,255,0.3));
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 10px,4px 30px rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius:20px;
    /* background:red; */
}
@media (max-width:600px) {
    .second-box>.tools{
        display: grid;
        gap: 0px;
    }

    aside1>.language>.jsclass{
    position: relative;
    bottom:0.5em;
    /* color: red; */
}
    
}



.secondh2{
    color:white;
    padding-bottom:1em;
}

.tools{
    list-style: none;
    color:white;
    padding-top: 1em;
    display: grid; 
     grid-template-columns: auto auto auto;

    gap: 10px;
    justify-content: center;
    align-items:center;
    /* background:red; */
    width: 100%;
    
}


.tools>li{
    border:1px solid black;
    /* width: 100%; */
    padding: 0.3em;border-radius:10px;

}


.tools>li:hover{
    border:2px solid rgb(170, 111, 111);
    color: rgb(252, 215, 215);
}



@media (max-width:500px) {


    .boxes-container{
        width: 90%;
        display: inline-block;
        margin-left: 1.2em;
        gap: 10px;

    }  
    
    .first-box{
        width: 100%;
        margin-bottom: 10px;
    }

    .second-box{
        width: 100%;
        
    }

        .second-box>.tools{
        display: grid;
        gap: 10px;
       /* width: clamp(1em,13.5em,32em) ; */
    }


}



/* Contact section */

/* #Contact{
    color:white;
    text-align: center;
    padding: 2em;
}

#Contact >h2{
    text-align: center;
    background:orange;
    padding: 1em;
}

#Contact >p{
    text-align: center;
    background:red;
    padding: 1em;
    font-size: 20px;
} */


.contact{
    padding: 100px 20px;
    /* background:red; */
    /* background:linear-gradient(135deg,rgba(107,10,107,0.8),rgba(108,0,107,0.5)); */
    text-align: center;
}

.contact-container{
    background:linear-gradient(360deg,rgba(107,0,107,0.5),rgba(31, 20, 31, 0.8));
    padding: 1em;
}


.contact-text{
    max-width: 520px;
    margin: 0 auto 40px;
    color: white;
    padding: 1em;
    opacity: 0.85;
}

.contact-actions{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-btn{
    padding: 14px 26px;
    border:1px solid rgb(107,0,107);
    color:rgba(184, 176, 176, 0.911);
    border-radius:12px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.contact-btn:hover{
    background:rgb(107, 0, 107);
    color:white;
    box-shadow:0 0 20px rgba(107, 4, 107, 0.6);
}

.avilability{
    color:white;
    margin-top: 30px;
    font-size: 1.5em;
    opacity: 0.7;
}

/* footer section */

.footer{
    padding: 60px 20px 30px;
    /* background:red; */
    text-align: center;
    margin-bottom: 1em;
    border-top: 1px solid rgba(107, 4, 107, 0.3);
    color:white;
}

.footer-text{
    opacity: 0.7;
    margin: 10px 0 20px;
}
.footer-socials{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-socials a{
    font-size: 20px;
    opacity: 0.8;
    transition: 0.3s;
}

.footer-socials a:hover{
    color: rgb(107, 4, 107);
    text-shadow: 0 0 10px rgba(107, 4, 107, 0.7);
}

.copyright{
    font-size: 14px;
    opacity: 0.5;
}











































