*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: #0a0a0a;
    /* background-image:linear-gradient(rgba(4,9,30,0.5)),url(img/harder.png); */
    background-size: cover;
    overflow-x: hidden;
}


header{
    width: 100%;
    height: 5em;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 10px,4px 30px rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 113, 255, 0.1);
    position: fixed;
    z-index: 10;

}

header .logo-space  {
    /* background:orange; */
}


.logo{
    display: flex;
    height: 5em; 
}

.img-logo{
    position: relative;
    left: 10em;
    top: 0.5em;
    width: 15%;
    min-width: 50px;
    border-radius:10px;
    opacity: 0;
    animation: fading 1s ease forwards;
    animation-delay:1s ;
}

@keyframes fading{
    to{
        opacity: 1;
        transform: translateX(1em);
    }
}

@media (max-width:800px) {

    .img-logo{
        display: flex;
        /* justify-content: flex-end; */
        left: 0;
        min-width: 60px;
    }
    nav{
        position: relative;
        /* left: 11em; */
    }
}

/* nav{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    font-size: clamp(1em,2vw,2em);
    width: 40em;
    color: white;
    opacity: 0;
    animation: fadein 1s ease forwards;
    animation-delay: 2s;
    cursor: pointer;
} */

nav{
    display: flex;
    align-items:center;
    /* justify-content: flex-start; */
    /* background:red; */
    padding-left:22vw;
    font-size: clamp(1em,1.8vw,2em);
    gap: clamp(4px,60px,4vw);
    width: 40em;
}

nav>a{
    text-decoration: none;
    color: white;
    opacity: 0;
    animation: fadein 1s ease forwards;
    animation-delay: 2s;
    cursor: pointer;
}

@keyframes fadein{
    to{
        opacity: 1;
        transform: translateX(-1em);
    }
}

nav :hover{
    color: rgb(255, 0, 255);
    background:linear-gradient(120deg,rgba(255, 0, 255,0.4),rgba(233, 153, 233,0.2));
    padding: 0.5em;
    border-radius:10px;
}

.fa-solid{
    display: none;
}

@media (max-width :500px) {

    .logo{
        display: flex;
        justify-content: space-between;
        /* background:purple; */
    }




    header .logo-space  {
    /* background:orange; */
    width: 20%;
    }


    .fa-solid{
        display: block;
        font-size: 2.5em;
        color:rgb(155, 89, 255);
        padding-top: 0.2em;
        cursor: pointer;
    }
    nav{
        display: none;
        /* color:red; */
        /* background:green; */
        /* padding-top: 0.8em; */
        /* padding-left: 1vw; */
        /* gap: 18px; */
        gap: clamp(4px, 3.6vw, 24px);
        padding: 0px 38px;
        width: 50%;
        animation-delay:0.1s;
    }
    nav>a{
        display: flex;
        gap: 0px;
        /* color:red; */
    }
    .fa-x{
        color:red;
        font-size: 1.5em;
        padding-top: 0.5em;
        width: 5%;
        z-index: 3;
    }
}


hero{
    width: 100%;
    height:10em;
    padding-top: 5em;
    /* color: #ffffff; */
    color:rgb(224, 224, 224);
    /* background: red; */
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(12px,3vw,1.1em);
}

@media (max-width:500px) {
    hero{
        padding-top: 7em;
        /* flex-shrink: 0; */

    }
}

@media (max-width:280px) {
    hero{
        padding-top: 8em;
        font-size: clamp(9px,0.5vw,0.2);
        height: fit-content;
    }

    div.leftbox{
        text-align: center;
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    div.leftbox>p{
        max-width: 8em;
    }
        div.rightbox{
        text-align: center;
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    div.rightbox>p{
        max-width: 8em;
    }


}

.nameclass{
    /* color:#ffffff; */
    color:rgb(224, 224, 224)
}
.blackoh{
    /* color:rgb(255, 0, 255); */
    color:rgb(155, 89, 255);
}

hero>h2{
    color:rgb(224, 224, 224);
}

#changingspace{
    font-size: 1.5em;
    /* color: rgb(255,0,255); */
    color:rgb(155, 89, 255);
    transition: 0.5s ease;
    opacity: 1;
}

aside{
    /* background:orange; */
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 35px 25px;
    gap: 6em;
}

@media (max-width:1000px) {
    aside{
        display: flex;
        gap: 8px;
    }

}

@media (max-width:750px) {
    aside{
        display: grid;
        gap: 8px;
    }

}




.leftbox{
    padding: 25px 20px 25px 30px;
    max-width: 15em;
    font-family:   'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background: linear-gradient(135deg,rgba(255,0,255,0.3),rgba(255, 184, 255, 0.5)); */
    /* background:rgb(26, 13, 46); */
    background:linear-gradient(135deg,rgba(26,13,46,0.3),rgba(146,20,80,0.2));
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 40px,4px 30px rgba(0, 0, 0, 0.1);
    color:rgb(224, 224, 224);
    border-radius:10px;
    transform: rotate(10deg);
    opacity: 0;
    animation: leftfading 1s ease forwards;
    animation-delay:3s;
}

.leftbox>p{
    max-width: 16em;

}



@keyframes leftfading{
    to{
        opacity: 1;
         transform:rotate(10deg) translateX(1em);
    }
}



.mainimg{
    padding: 8.5em 8em;
    border-radius:10px;
     background-image:url(img/neon.jpg),linear-gradient(360deg ,rgba(105, 74, 105,0.6),rgba(0, 0, 0,0.9));
     background-position: center;
     background-size:cover;
     background-blend-mode: overlay;
     border:0;
     outline: none;
     min-width: 0;
     /* filter: drop-shadow(0 0 20px rgba(105, 5, 105, 0.9)); */
     /* filter: drop-shadow(0 0 20px linear-gradient(135deg, rgba(105, 5, 105, 0.9),rgba(146,20,80,0.9))); */
     filter:drop-shadow(0 0 20px rgba(146,20,80,0.9))
}

.rightbox{
    padding: 25px 13px 25px 13px;
    font-family:   'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background: linear-gradient(135deg,rgba(255,0,255,0.3),rgba(255, 184, 255, 0.5)); */
    background:linear-gradient(135deg,rgba(146,20,80,0.3),rgba(26,13,46,0.2));
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 40px,4px 30px rgba(0, 0, 0, 0.1);
    color:rgb(224, 224, 224);
    border-radius:10px;
    transform: rotate(-10deg);
    opacity: 0;
    animation: rightfade 1s forwards;
    animation-delay:3s;
}

.rightbox>p{
    max-width: 16em;
}

@keyframes rightfade{
    to{
        opacity: 1;
        transform:rotate(-10deg) translateX(-1em);
    }
}



@media (max-width:1000px) {
        div.leftbox{
        transform: rotate(0deg);
    }

    @keyframes leftfading{
    to{
        transform: rotateX(10deg),translateX(1em);
        opacity: 1;
    }
}
         div.rightbox{
        transform: rotateX(0deg);
    }
    
    @keyframes rightfade{
    to{
        opacity: 1;
        transform: rotateX(0deg) ;
    }
}
}

@media (max-width:500px) {
.leftbox{
    max-width: 25em;
}

.leftbox>p{
    text-align: center;
    max-width: 20em;
}

aside{
    display: grid;
    gap: 20px;
    padding-left: -20px;
}

.mainimg{
    width: 30px;
    margin-left: 3em;
}

.rightbox{
    text-align: center;
    padding-left: 3em;
}

}




/* skills section */

.skills{
    padding: 100px 20px;
    box-sizing:border-box;
    /* background:red; */
}
.skills-container{
    /* background:pink; */
    text-align: center;
    max-width: 520px;
    margin: 0 auto 40px;
    color:rgb(224, 224, 224);
    padding: 1em;
    opacity: 0.85;
}

.skills-h1{
    color:rgb(155, 89, 255);
    /* background:green; */
    padding: 1em;
    text-align: center;
}
.subtext{
    /* background:orange; */
    padding-bottom: 2em;
    font-size: 1.5em;
    color:rgb(224, 224, 224)
}







.boxes-container{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 2vw;
    justify-content: space-between;
    gap: 1px;
    /* background:white; */
    box-sizing: border-box;
}


div.first-box{
    flex: 0 0 45%;
    /* flex:0 0 300px; */
    box-sizing:border-box;
    padding-top: 1em; 
    /* background:radial-gradient(rgba(212, 98, 212,0.2),rgba(255,0,255,0.3)); */
     background:radial-gradient(rgba(26,13,46,0.02),rgba(146,20,80,0.01));
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius:20px;
    transition:0.5s ease;
}


.box.active{
    border: 1px solid rgba(146,20,80,0.7);
}











h2{
    color:rgb(207, 177, 221);
    /* color:rgb(155, 89, 255); */
    font-size: clamp(1.4rem,4vw,2.5rem);
}



aside1{
    display: flex;
    justify-content: space-evenly;
    /* background:red; */
    padding: 30px 10px;
    
}
aside1>ul{
    list-style: none;
    color:rgb(224, 224, 224);
    font-size: 1.2em;
    /* color:green; */
    display: grid;
    gap: 8px;
}
li{
    display: flex;
    gap: 8px;
}

/* full boxleft */

aside1>.levels{
    width: 60%;
    display: grid;
    height: 0.7em;
    gap: 15px;
    /* background:orange; */
}

aside1>.levels>.react{
    color:red;
    background:rgba(255,0,245 ,0.3);
    border-radius: 10px;
    width: 100%;
}
aside1>.levels>.react>div{
    /* background:rgb(92, 187, 92); */
    background:#000000;
    width: 70%;
    height: 0.8em;
}

.fa-react{
    color:#61dafb;
}





/* html */

aside1>.levels>.htmls{
    /* color:red; */
    background:rgba(255,0,245 ,0.3);;
    border-radius: 10px;
    width: 100%;
}

aside1>.levels>.htmls>div{
    background: black;
    width: 80%;
    height: 0.8em;

}

.fa-html5{
    color:#e34f26;
}


/* css */

aside1>.levels>.css{
    background:rgba(255,0,245 ,0.3);;
    border-radius: 10px;
    width: 100%;
}

aside1>.levels>.css>div{
    background: black;
    width: 50%;
    height: 0.8em;

}

.fa-css3-alt{
    color:#1572b6;
}
/* javascript */

aside1>.levels>.javascript{
    background:rgba(255,0,245 ,0.3);
    border-radius: 10px;
    width: 100%;
}

aside1>.levels>.javascript>div{
    background: black;
    width: 50%;
    height: 0.8em;

}

.fa-js{
    color:#f7df1e;
}


div.second-box{
    /* padding: 30px 100px; */
    flex: 0 0 45%;
    /* flex:0 0 300px; */
    box-sizing:border-box;
    padding-top: 1em;
    /* background:radial-gradient(rgba(212, 98, 212,0.2),rgba(255,0,255,0.3)); */
    /* background:radial-gradient(rgba(26,13,46,0.3),rgba(146,20,80,0.1)); */
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 10px,4px 30px rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius:20px
}
/* div.second-box:hover{
    border:1px solid rgba(146,20,80,0.7);
} */




.secondh2{
    color:rgb(207, 177, 221);
    padding-bottom:1em;
}

.tools{
    list-style: none;
    color:white;
    padding: 20px;
    display: grid; 
     grid-template-columns: auto auto auto;
     gap: 10px;
    align-items:center; 
    /* background:red; */
    /* width: 100%; */

    
}


.tools>li{
    border:1px solid black;
    padding: 0.3em;border-radius:10px;
}


.tools>li:hover{
    border:2px solid rgb(170, 111, 111);
    color: rgb(252, 215, 215);
}



@media (max-width:600px) {
    .boxes-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .tools{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    

}


/* project */

.project{
    padding: 100px 30px;
    /* background:red; */
    text-align: center;
}

.project-container{
    /* padding: 2em; */
    border:1px solid rgba(26,13,46,0.5);
    padding-top: 2em;
    transition: 1.5s ease;
    /* background:red; */
    /* background:linear-gradient(360deg,rgba(148, 94, 148, 0.8),rgba(107,0,107,0.5)); */
    /* background:radial-gradient(rgba(26,13,46,0.3),rgba(146,20,80,0.1)); */
}

.project-container h2 {
    color:rgb(155, 89, 255);
}

.project-container:hover{
    border:1px solid rgba(146,20,80,0.7);
}





.project-text{
    max-width: 520px;
    margin: 0 auto 80px;
    color:white;
    padding: 1em;
    opacity: 9;
}


.view-project-btn{

    padding: 15px 15px;
    color: #fff;
    text-decoration: none;
    border:1px solid black;
    border-radius:3px;
    position: relative;
    bottom:2em;
    transition: 2s ease;

}

.view-project-btn:hover{
    background:#321e3a;
    border:1px solid grey;
    border-radius:8px;
}






.contact{
    padding: 100px 20px;
    /* background:red; */
    /* background:linear-gradient(135deg,rgba(107,10,107,0.8),rgba(108,0,107,0.5)); */
    text-align: center;
}

.contact-container{
    /* background:linear-gradient(360deg,rgba(107,0,107,0.5),rgba(31, 20, 31, 0.8)); */
    /* background:radial-gradient(rgba(26,13,46,0.3),rgba(146,20,80,0.1)); */
    /* background:radial-gradient(rgba(26,13,46,0.05),rgba(146,20,80,0.01)); */
    padding: 1em;
    transition: 1s ease;
    /* border:1px solid rgba(146,20,80,0.7); */
}

.contact-container:hover{
    border:1px solid rgba(146,20,80,0.7);
}


.contact-text{
    max-width: 520px;
    margin: 0 auto 40px;
    color: rgb(224, 224, 224);
    padding: 1em;
    opacity: 0.85;
}

.contact-actions{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-btn{
    padding: 14px 26px;
    border:1px solid rgb(107,0,107);
    color:rgba(184, 176, 176, 0.911);
    border-radius:12px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.contact-btn:hover{
    background:rgb(107, 0, 107);
    color:white;
    box-shadow:0 0 20px rgba(107, 4, 107, 0.6);
}

.avilability{
    color:white;
    margin-top: 30px;
    font-size: 1.5em;
    opacity: 0.7;
}

/* footer section */

.footer{
    padding: 60px 20px 30px;
    /* background:red; */
    text-align: center;
    margin-bottom: 1em;
    border-top: 1px solid rgba(107, 4, 107, 0.3);
    color:white;
}

.footer-text{
    opacity: 0.7;
    margin: 10px 0 20px;
}
.footer-socials{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-socials a{
    font-size: 20px;
    opacity: 0.8;
    transition: 0.3s;
}

.footer-socials a:hover{
    color: rgb(107, 4, 107);
    text-shadow: 0 0 10px rgba(107, 4, 107, 0.7);
}

.copyright{
    font-size: 14px;
    opacity: 0.5;
}











































