body{
    background:black;
    padding: 0;
    margin: 0;
}

header{
    border-bottom:1px solid rgba(0, 236, 228, 0.5) ;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    color:white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}

.logo::first-letter {
  color: rgba(0, 236, 228, 0.5);
  font-size: 2.5rem;
  font-weight: bold;
}


nav{
    display: flex;
    justify-content: flex-end;
    gap: clamp(4px,60px,4vw); 
}

nav a {
    text-decoration: none;
    font-size: clamp(1em,1.8vw,2em);
    color: rgba(20, 255, 247, 0.9) ;
    
}

.fa-bars{
    color: rgba(39, 247, 240, 0.5);
    font-size: 35px;
    display: none;
}

@media (max-width:760px) {

    nav{
        display: none;
        font-weight: bold;
        
    }
    .fa-bars{
        display: block;
        padding-top: 10px;
    }

    .fa-x{
        color:red;
    }
}

main{
    background:peachpuff;
    padding: 40px 10px;
    width: 50%;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
}


aside{
    background:green;
    padding: 190px 2px;
    width: 20%;
    margin-left: 15px;
    margin-top: 15px;
    border-radius:10px;
}




.both{
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;
}

.spanish{
    /* padding: 15px 20px ; */
    /* background:red; */
    color: white;
    
    
    outline: 1px solid rgba(20, 255, 247, 0.7);
    height: 280px;
    width: 30%;
    margin-top: 15px;
    border-radius:10px;
    padding-top: 10px;
    padding-left: 10px;
    /* padding-right: 10px; */
    text-align: center;


}

aside1{
    /* padding: 10px 13px; */
    background:purple;
    width: 45%;
    position: relative;
    bottom:80px;
    border-radius: 10px;
    height: 375px;
}

footer{
    padding: 45px 50px; 
    background:orange;
    width: 69%;
    display: flex;
    justify-self: right;
    right: 15px;
    position: relative;
    bottom: 90px;
    border-radius:10px;
}

@media (max-width:1115px) {
    footer{
        padding:45px 40px;
        padding-left: clamp(1vh,10vh,15px);
    }
}

@media (max-width:700px) {
    footer{
        padding:45px 15px;
        /* padding-left: clamp(1vh,10vh,15px); */
    }
}

@media (max-width:500px) {

    main{
        width: 47%;
    }
    footer{
        padding:45px 5px;
        padding-left: clamp(1vh,10vh,15px);
        position: relative;
        left: 3px;
    }
}

@media (max-width:450px) {
       footer{
        padding:45px 15px;
        padding-left: clamp(1vh,10vh,15px);
        position: relative;
        left: 5px;
    }   
}

@media (max-width:300px) {
    footer{
        padding:45px 1px;
        padding-left: clamp(1vh,10vh,15px);
    }
}




