body{
    background:black;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}

header{
    border-bottom:1px solid rgba(0, 236, 228, 0.5) ;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    color:white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}

.logo::first-letter {
  color: rgba(0, 236, 228, 0.5);
  font-size: 2.5rem;
  font-weight: bold;
}


nav{
    display: flex;
    justify-content: flex-end;
    gap: clamp(4px,60px,4vw); 
}

nav a {
    text-decoration: none;
    font-size: clamp(1em,1.8vw,2em);
    color: rgba(20, 255, 247, 0.9) ;
    
}

.fa-bars{
    color: rgba(39, 247, 240, 0.5);
    font-size: 35px;
    display: none;
}

@media (max-width:760px) {

    nav{
        display: none;
        font-weight: bold;
        
    }
    .fa-bars{
        display: block;
        padding-top: 10px;
    }

    .fa-x{
        color:red;
    }
}

main{
    background:peachpuff;
    padding: 20px 10px;
    width: 50%;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
    text-align: center;


        flex: 0 0 45%;
    box-sizing:border-box;
    padding-top: 1em; 
    /* background:radial-gradient(rgba(212, 98, 212,0.2),rgba(255,0,255,0.3)); */
     background:radial-gradient(rgba(26,13,46,0.1), rgba(11, 77, 74, 0.2));
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius:20px;
}

main h2{
    color:rgb(195, 217, 221);


}

main p {
    color:white;
    font-size: 20px;
}


aside{
    /* background:green; */
    /* padding: 190px 2px; */
    /* height: 470px; */
    height: fit-content;
    width: 20%;
    margin-left: 15px;
    margin-top: 15px;
    border-radius:10px;
    text-align: center;



    
    box-sizing:border-box;
    /* background:radial-gradient(rgba(212, 98, 212,0.2),rgba(255,0,255,0.3)); */
     background:radial-gradient(rgba(26,13,46,0.1), rgba(11, 77, 74, 0.4));
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.8);
}

.fa-lock{
    color:rgba(207, 178, 12, 0.836);
}

aside h1{
    color:rgb(195, 217, 221);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside h3{
    color:#E6EEF5;
    font-size: 20px;
    text-decoration: solid;
}

aside p{
    color:whitesmoke;
    font-size: 14px;
}

aside ul{
    color:whitesmoke;
    display: grid;
    gap: 10px;
}




.both{
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;
}

.spanish{
    /* padding: 15px 20px ; */
    /* background:red; */
    color: white;
    outline: 1px solid rgba(20, 255, 247, 0.1);
    height: 260px;
    width: 30%;
    margin-top: 15px;
    border-radius:10px;
    padding-top: 20px;
    padding-left: 10px; 
     padding-right: 10px;
    text-align: center;


}

.spanish h4{
    color:rgb(195, 217, 221);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color:white; */
}

.spanish h2{
    /* color:rgb(195, 217, 221); */
    /* color:rgba(48, 122, 192, 0.925);
    color:#1B263B; */
    /* color:#E6EEF5; */
    color: rgba(0, 236, 228, 0.9);
}

.spanish span{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

aside1{
    /* padding: 10px 13px; */
    /* background:purple; */
    padding: 10px;
    width: 45%;
    position: relative;
    bottom:169px;
    border-radius: 10px;
    height: 445px;
    text-align: center;


     background:radial-gradient(rgba(26,13,46,0.3), rgba(11, 77, 74, 0.2));
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.8);
}

aside1 h1{
    color:rgb(195, 217, 221);
}

.fa-shield-halved{
    color:rgba(48, 122, 192, 0.925);
}

.fa-check{
    color:rgba(207, 216, 223, 0.699);
}

aside1 p{
    color: white;
    font-size: 18px;
}

aside1 ul{
    list-style: none;
    color:white;
    display: grid;
    gap: 10px;
}

.fa-bolt-lightning{
    color:gold;
}

aside1 h4{
    color:white;
}



footer{
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 10.2px;
    /* background:rgba(22, 199, 155, 0.664); */
    background:linear-gradient(188deg,rgba(22, 199, 155, 0.664),rgba(167, 221, 207, 0.2));
    width: 69%;
    height: 7em;
    flex-wrap: wrap;
    justify-self: right;
    right: 15px;
    position: relative;
    bottom: 190px;
    border-radius:10px;
    justify-content: center;
    align-items:center;

    /* display: none; */
}


.generate{
    color:#ebdddde1;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:transparent;
    border: 1px solid  rgba(0, 236, 228, 0.2) ;
    display: grid;
    justify-self: center;
    margin-top: 30px;
    border-radius:2px;
    cursor: pointer;
    transition: 2s ease-in-out;

}

.generate:hover{
    color:black;
    background:rgba(0, 236, 228, 0.8);
}


.btn{
    display: none;
    justify-content: space-around;
    margin-top: 40px;
 
}

footer h2{
    text-align: center;
}

footer .main-btn{
    display: flex;
    gap: 8px;


}

footer .main-btn button{
    padding: 7px;
    color: rgb(238, 234, 228);
    background:transparent;
    border:none;
    outline: 1px solid rgba(0, 236, 228,0.5);

}

.input{
    padding: 5px;
}

.input-btn{
    padding: 5px;

}







/* 760px */

/* @media (max-width:800px) {

    body{
        overflow-x: hidden;
    }
} */


@media (max-width:760px) {

    body{
        overflow-x: hidden;
    }

    main{
        width: 100%;
        margin-left: 0;
        height: 180px;
    }

    aside{
        width: 93%;
    }

    .spanish{
        z-index: 3;
        width: 100%;
    }

    .both{
        display: grid;
    }

    aside1{
        /* background:red; */
        width: 90%;
        position: relative;
        top: 20px;
        height: fit-content;
        margin-left: 12.5px;
    }

    footer{
        position:relative;
        top:30px;
        /* left: 21px;  */
        right: 40px;  
        width: 87%;
    }

    
}


/* 700px */

@media (max-width:700px) {
    footer{
        height: fit-content;
        padding-top:1px ;
        padding-bottom: 20px;
        background:linear-gradient(288deg,rgba(22, 199, 155, 0.3),rgba(167, 221, 207, 0.2));
        
    }



    .btn .main-btn{
        display: grid;
    }


    .btn .main-btn button{
        width: 100%;
        padding: 5px;
    }




    span .main{
        display: flex;
        height: 30px;
        margin-top: 3em;
        /* padding: 0; */
    }

    footer .btn button{
        width: 50%;
        padding: 2px;
    }
}

/* 500px */

@media (max-width:500px) {

    body{
        overflow-x: hidden;
    }

    main{
        width: 98%;
    }
    aside1{
        position: relative;
        bottom:290px;
        height: fit-content;
    }
    .spanish{
        height: fit-content;
    }
    footer{
        /* padding-left: clamp(1vh,10vh,15px); */
        width: 90%;
        position: static;
        margin-right: 10px;
        margin-top: 35px;
    }

     #generation {
        display: flex;
        justify-self: center;
     /* justify-self: flex-end; */
       
    }
}





