body{
    background:black;
    padding: 0;
    margin: 0;
}

header{
    border-bottom:1px solid rgba(0, 236, 228, 0.5) ;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    color:white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}

.logo::first-letter {
  color: rgba(0, 236, 228, 0.5);
  font-size: 2.5rem;
  font-weight: bold;
}


nav{
    display: flex;
    justify-content: flex-end;
    gap: clamp(4px,60px,4vw); 
}

nav a {
    text-decoration: none;
    font-size: clamp(1em,1.8vw,2em);
    color: rgba(20, 255, 247, 0.9) ;
    
}

.fa-bars{
    color: rgba(39, 247, 240, 0.5);
    font-size: 35px;
    display: none;
}

@media (max-width:760px) {

    nav{
        display: none;
        font-weight: bold;
        
    }
    .fa-bars{
        display: block;
        padding-top: 10px;
    }

    .fa-x{
        color:red;
    }
}