
body{
    background:black;
    display:grid ;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    
}

.firsth1{
    color: white;
    text-align: center;
    padding: 10px;
}

.container{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 40px;
    max-width: 50%;
    margin-left: 10em;
    outline: 1px solid rgb(95, 40, 100);
}

.container::-webkit-scrollbar{
    height: 6px;
}

.container::-webkit-scrollbar-thumb {
    background: rgba(180, 0, 255, 0.4);
    border-radius: 10px;
}

.container::-webkit-scrollbar-track {
    background: transparent;
}

@media (max-width:550px) {
    .container{
        /* margin-left: 5em; */
        max-width: 100%;
        /* margin-right: 2em; */
        margin-left:0.3em;
    }
}

.card{
    max-width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius:12px;
    flex: 0 0 100%;
    scroll-snap-align: center;
    text-decoration: none;
    flex-shrink: 0;
    /* scroll-snap-align: start; */

    /* background: #fa74ff; */
    /* background:linear-gradient(360deg,#fa74ff, rgba(107,0,107,0.9)); */
    background:linear-gradient(135deg,rgba(26,13,46,0.8),rgba(146,20,80,0.9));
    border-radius: 20px;
    box-shadow: 
    3px 3px 9px #62596b,
    -3px -3px 9px #2a1a3188;


    transform: scale(0.9);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.conatainer .card.active{
    transform: scale(1.6);
}


a h2,p {
    /* color:black; */
    color:whitesmoke;
    padding-top: 5em;
    text-align: center;
    
}

a p{
    position: relative;
    bottom: 4em;
}

.lastp{
    color:whitesmoke;
    position: relative;
    bottom:3em;
    text-align: center;
    font-size: 15px;
}



