
body{
    background:black;
    display:grid ;
    justify-content: center;
    align-items: center;
    height: 90vh; 
}

.firsth1{
    color: white;
    text-align: center;
    padding: 10px;
}

.container{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 40px;
    max-width: 100%;
    outline: 1px solid rgb(95, 40, 100);
}

@media (max-width:550px) {
    .container{
        margin-left: 2em;
        margin-right: 2em;
    }
}

.card{
    width: 150px;
    height: 350px;
    object-fit: cover;
    border-radius:12px;
    flex: 0 0 100%;
    scroll-snap-align: center;
    text-decoration: none;
    flex-shrink: 0;

    /* background: #fa74ff; */
    background:linear-gradient(360deg,#fa74ff, rgba(107,0,107,0.9));
    border-radius: 20px;
    box-shadow: 
    8px 8px 16px #62596b,
    -8px -8px 16px #2a1a3188;


    transform: scale(0.9);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.conatainer .card.active{
    transform: scale(1.6);
}


a h2,p{
    color:black;
    padding-top: 5em;
    text-align: center;
    
}

a p{
    position: relative;
    bottom: 4em;
}



