
body{
    background: black;
    padding-top: 1em;
    overflow: hidden;
    
}

.container{
    /* outline: 1px solid gold; */
    outline: 1px solid rgba(144, 0, 107, 0.7);
    height: 90vh;
}



header{
    outline: 1px solid red;
    height: 3em;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
}

.all-container{
    outline: 1px solid green;
    display: flex;
    gap: 20px;
}

@media (max-width:604px) {
    .all-container{
        display: grid;
        padding: 1em;
        gap: 10px;
    }

}

aside{
    outline: 1px solid blue;
    width: 60%;
    height: 69.5vh;
    margin-top: 1em;
}

.score-container{
    outline: 1px solid yellow;
    height: 10vh;
    width: 37%;
    margin-top: 1em;
    height: 70vh;
}



@media (max-width:604px){
    aside{
        width: 100%;
        height: 50vh;
    }

    .score-container{
        width: 100%;
        height: 10vh;
    }
}