body{
    background: #000;
    justify-content: center;
    align-items: center;
    padding-top: 33vh;
    overflow: none;
    background-image: url(img/green\ x\ and\ o\ small.png);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}
@media (max-width:500px) {
    body{
        background-size:cover;
        height: 70vh;
         /* background-position:bottom; */
    }
   
}

h1{
    color: #0b3d0b;
    text-shadow:0 3px 8px rgba(0,0,0,0.8);
    text-align: center;
    /* width: 250%; */
    position: relative;

    animation: tictac 2s ease-in-out infinite ;
}

h1::first-letter{
    /* color:rgba(123, 194, 42, 0.9); */
    color: #eaee07;
}

@keyframes tictac {
    0%{top:0px}
    50%{top:20px;}
    100%{top: 0px;}
}


.container{
    background:#fff;
    height: 20px;
    /* width: 520px; */
    width: 90%;
    border-radius: 7px;
    /* align-self: center; */
    display: grid;
    /* justify-self: center; */
    margin: 0 auto;

}

.moving{
    background:rgb(12, 184, 12);
    height: 20px;
    border-radius:7px;
    width: 0%;
}
p{
    color: white;
    text-align: center;
    font-size: 23px;
}

#span1{
    color: rgba(255,255,255,0.5);
    font-size: 50px;
    font-weight: bolder;
}

#span2{
    color: rgba(255,255,255,0.5);
    font-size: 50px;
    font-weight: bolder;
}

#span3{
    color: rgba(255,255,255,0.5);
    /* color:#2e7d32; */
    font-size: 50px;
    font-weight: bolder;
}


div{
    color:rgb(0, 0, 0);
}


.start-btn{
    width: 80px;
    padding: 7px;
    border-radius:5px;
    font-size: 23px;
    background:linear-gradient(135deg,rgba(219, 226, 89, 0.9),rgba(0,40,71,0.7));
    cursor:pointer;
    border:none;
    transition: 1.5s ease-in-out ;
    color:white;
    font-weight: bolder;
}

.start-btn:hover{
    background:#eaee07;

    /* width: 120%; */
    /* color:rgba(245, 245, 245, 0.555); */
    color:black;
}