body{
    background-image: url(img/mobile\ background.png);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
}



.container{
    width: 50%;
    height: 93%;
    /* background-size:cover; */
    /* z-index: 3; */
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    gap: 1px;
}

.cell{
    border: 2px solid rgba(228, 209, 106,0.9);
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: clamp(25px,4vw,30px);
    font-weight: bold;
    /* background:transparent; */
}




.fa-volume-high{
    font-size: 40px;
    color:rgba(252, 150, 33, 0.966);
    position: absolute;
    right: 4vw;
    top: 2vh;  

}


.fa-gear{
    font-size: 40px;
    cursor: pointer;
    color:rgba(252, 227, 6, 0.918);
    position: absolute;
    right: 4vw;
    top: 20%;

}

h1{
    color:#fff;
    text-align: center;
    /* background:red; */
    position: relative;
    top: 40%;
    
}

h3{
    color:whitesmoke;
    text-align: center;
    /* background:red; */
    position: relative;
    top: 40%;
}


button{
    display: none;
    background:linear-gradient(135deg,rgba(233,11,55,0.7),rgba(55,111,22,0.7));
    height: 40px;
    position: absolute;
    bottom: 15%;
    border:none;
    width: 30%;

}


#settingsbox{
    background:rgb(226, 197, 29);
    background:radial-gradient(rgba(26, 197, 29,0.3),rgba(226, 197, 29,0.6));
    height: 30%;
    font-size: 18px;
    display: none;
    justify-content: center;
    align-items:center;
    border-radius:10px;
    
}

ul{
    
    padding: 2px;
    display: grid;
    gap: 20px;

}

ul li{
    list-style: none;
    /* margin: 0 auto; */
    background:rgba(152, 216, 133,0.3);
    padding: 3px;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


@media (max-width:768px),(max-width:500px) {
    .container{
    width: 63%;
    height: 60%;
}




}

@media (max-width:470px),(max-width:500px) {
    .container{
    width: 70%;
    height: 70%;
    /* background-image: url(img/ChatGPT\ Image\ Mar\ 10\,\ 2026\,\ 05_25_13\ PM.png); */
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;
}


}


@media (max-width:430px) {
    .container{
    width: 65%;
    height: 40%;
    background-image: url(img/ChatGPT\ Image\ Mar\ 10\,\ 2026\,\ 05_25_13\ PM.png);
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
}
    .fa-gear{
        font-size: 27px;
        position: absolute;
        left: 2%;
        top: 85%;
    }

    .fa-volume-high{
        font-size: 27px;
        position: absolute;
        top: 10%;
    }

    .cell{
        border: 2px solid rgba(228, 209, 106,0.1);
        height: 100px;
    }

    #settingsbox{
    position: absolute;
    bottom:10%;
    right: 40%;
    width: 50%;
    }
}

/* @media (max-width:414px) {
    .container{
    width: 60%;
    height: 30%;
    background-image: url(img/ChatGPT\ Image\ Mar\ 10\,\ 2026\,\ 05_25_13\ PM.png);
    background-size:initial-scale;
    background-position:top;
    background-repeat: no-repeat;
}

}

@media (max-width:390px) {
    .container{
    width: 60%;
    height: 35%;
    background-image: url(img/ChatGPT\ Image\ Mar\ 10\,\ 2026\,\ 05_25_13\ PM.png);
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
}

}



@media (max-width:375px) {
    .container{
    width: 60%;
    height: 34%;
    background-image: url(img/ChatGPT\ Image\ Mar\ 10\,\ 2026\,\ 05_25_13\ PM.png);
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
}

} */


































































































































